@font-face {
  font-family: "TitlesFont";
  src: url("./font/Rounded_Elegance.ttf") format('truetype');
 }

body {
   font-family: 'TitlesFont'!important;
   font-weight: bold !important;
    background-color:rgb(27, 27, 27) !important;
  }


.album {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.album * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.album:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 30px;
  top: 100%;
  content: '';
  background-color: rgba(27, 27, 27, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.album img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.album figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.album h3,
.album h5 {
  font-size: 1em;
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.album h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.album h5 {
  font-weight: normal;
  background-color:  rgb(229,9,20);
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.album a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.album:hover:before,
.album.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.album:hover h3,
.album.hover h3,
.album:hover h5,
.album.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.album.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; 
}
.album:hover h5,
.album.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* Navbar */
.navbar.sidebar {
  background-color: rgb(27, 27, 27);
  height: 100%;
  border-radius: 0 5px 5px 0;
  display: block;
  flex-direction: column;
  position: fixed;
  min-width: 100px;
  top: 130px;
  width: 8%;
  z-index: 1;
 margin-left: 4vh;
}
.asidebar {
  font-size:1.2rem;
}

.main ul {
  color: #eee;
}

.navbar .linksidebar {
  font-size: 1rem;
  display: block;
  flex-direction: column;
  text-align: left;
}

.asidebar {
  color: white !important;
}
.playItLoud {
  text-align: center;
  font-size: 1rem;
  
}
.pictureName {
  display: block;
  flex-direction: column;
}
@media screen and (min-width: 350px) and (max-width: 540px) {
  .pic{
    width: 100px !important;
    margin-right: 0px !important;
  }
  .imgcard{
    width: 100px !important;
    margin-right: 0px !important;
  }
  .icones {
    text-align: center;
    position: fixed;
    bottom: 60px;
    left: 0.3rem;
  }
  .slick-dots{
    visibility: hidden;
  }
.main{
  margin-right: 0px !important;
  margin-left: 80px;
}
.togglerButton {
  position: fixed;
  left: 1.5rem;
  bottom: 1rem;
  margin-left: 0px !important;
}

  .footer {
  visibility: hidden
  }
  .flex-center{
    margin-left: 180px !important;
    margin-bottom: 100px !important;
  }
  .playItLoud {
    position: fixed;
    top: 1rem;
    right: 9rem;
    color: white !important;
  }
  .profilpicture {
    display: none;
  }
  .togglerButton {
    position: fixed;
    left: 1.5rem;
    bottom: 1rem;
    margin-left: 60px;

  }
  .sidebar {
    background-color: rgb(229,9,20);
    position: fixed;
    height: max-content;
    border-radius: 5px;
    z-index: 1;
    visibility: hidden;

  }

  .asidebar {
    color: red !important;
    font-size: 0.9rem;
  }

}

@media screen and (max-width: 319px) {
  
  .playItLoud {
    position: fixed;
    top: 1rem;
    right: 3rem;
    color: white !important;
  }
  .imgcard{
    width: 100px !important;
    margin-right: 0px !important;
  }
  .pic{
    width:100px;
  }
  .pictureName{
    visibility: hidden;
  }
  .profilpicture {
    display: none;
  }
  .togglerButton {
    position: fixed;
    left: 1.5rem;
    bottom: 16rem;
    margin-left: 60px;
  }
  .sidebar {
    background-color: rgb(229,9,20);
    position: fixed;
    height: 20%;
    width: 10px !important;
    border-radius: 5px;
    visibility: hidden;
  }
  .asidebar {
    color: red !important;
  }
  .main{
    margin-right:inherit;
    margin-right: 1px !important;
  }

}

.decoButton {
  font-size: 0.7rem !important;
}

/* FOOTER */
.footer-copyright {
  color: white;
}
.icones {
  text-align: center;
  /* position: fixed; */
  bottom: -1.2rem;
  /* left: 21rem; */
}

.footer {
  position: fixed;
  bottom: -0.1rem;
  /* left: 18rem; */
  left: 0;
  background: rgb(27, 27, 27);
  width: 100%;

}

@media screen and (max-width: 350px) {

  .imgcard{

    width: 100px !important;
    margin-right: 0px !important;
  }
  .pic{
    width: 100px !important;
    margin-right: 0px !important;
  }
  .main {
    margin: 7rem 2rem 1vh 30%;
    padding: auto;
    object-fit: contain !important;
    flex-direction: column !important;
  }
  .icones {
    text-align: center;
    position: fixed;
    bottom: -2.5rem;
    left: 2.5rem;
  }
  
  .footer {
    position: fixed;
    bottom: -1rem;
    left: 3rem;
    font-size: 0.6rem;
  }
}

.pictureName{
  margin-top: 1rem;
  margin-left: 1px ! important;
}
@media screen and (min-width: 1024px) {
  .main{
    margin: 7rem 7rem 1vh 10%;
  padding: auto;
  object-fit: contain !important;
  flex-direction: column !important;
}
}
@media screen and (min-width: 560px) and (max-width: 1024px) {
  .main {
    margin: 7rem 7rem 1vh 40%;
    padding: auto;
    object-fit: contain !important;
    flex-direction: column !important;
  }
  .profilpicture{
    margin-top: 10rem;
    margin-left: 0px ! important;
    widows: auto;
    height: auto;
  }
  .imgcard{
    width: 200px !important;
    margin-right: 0px !important;
  }
  .main{
    margin-right: 3vh;
    margin-left: 17vh;
  }
  .sidebar{
    margin-bottom: 100px !important;
    margin-top: 0.3vh !important;
  }
  .togglerButton{
    visibility: hidden;
  }

}

.boutonConnexion {
  color: red;
  position: fixed;
  left: 40rem;
  bottom: 30rem;
}
.figcaption{
  max-width:10px;
}
.Displayprofil{
  margin-right: 1vh;
  word-wrap: break-word;
  margin-left: 1500 px;
}
.titleCAT{
  color:  white;
  text-align: left;
  font-size: 24px;
  border: 0ch;
  margin-top: 1%;
}
.slick-dots{
  visibility: hidden;
}
.fixed-top{
  background-color:white !important;
}
.navbar-toggler-icon{
  color: white !important;
  border-radius: 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
  margin-left: 5vh;
}
.card-columns{
  margin-left: 200px;
}

.main {
  margin-bottom: 100px !important;
}