/* Navbar */
.sidebar {
  background-color: rgba(190, 190, 190, 0.877);
  height: 100%;
  border-radius: 0 5px 5px 0;
  display: block;
  flex-direction: column;
  position: fixed;
  width: 15%;
  text-align: center;
}

.linksidebar {
  color: blue;
  font-size: 1rem;
  display: block;
  flex-direction: column;
  text-align: center;
}

.playItLoud {
  text-align: center;
  
}
.profilpicture {
  
}

.pictureName {
  display: block;
  flex-direction: column;
}
@media screen and (max-width: 640px) {
  .playItLoud {
    display:none;
  }
  .profilpicture {
    display: none;
  }
  .togglerButton {
    position: fixed;
    left: 1.5rem;
    bottom: 16rem;
  }
  .sidebar {
    background-color: rgb(200,0,10);
    height: 20%;
    width: 40%;
    border-radius: 5px;
  }
}